[Unit]
Description=Elktool lifetimes

[Service]
LimitNOFILE=18192:19384
Type=simple
User=root
Group=root
ExecStart=/var/lib/elktool/run-lifetimes.sh

[Install]
WantedBy=multi-user.target
