[Unit]
Description=Elktool core

[Service]
LimitNOFILE=18192:19384
Type=simple
User=root
Group=root
Restart=always
ExecStart=/var/lib/elktool/run-core.sh

[Install]
WantedBy=multi-user.target
