[Unit]
Description=Elktool replicate

[Service]
LimitNOFILE=18192:19384
Type=simple
User=root
Group=root
Restart=always
ExecStart=/var/lib/elktool/run-replicate.sh

[Install]
WantedBy=multi-user.target
